.modal{
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.4);
    position: fixed;
    top:0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: scale(0);
}
.modal.active{
    transform: scale(1);
}
.modal-content{
    padding: 36px 36px 32px;
    background: #FFFFFF;
    border-radius: 8px;
}
.modal-title{
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
}
.modal-buttons{
    margin-top: 24px;
    display: flex;
    justify-content: space-evenly;
}
.modal-btn{
    background: #E0E0E0;
    border-radius: 3px;
    padding: 6px 36px;
    transition: all 0.2s ease-in;
}
.modal-btn:hover{
    color: #FFFFFF;
    background: #0CB4F1;
    cursor: pointer;
}