.pagination{
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 50px;
    list-style: none;
}
.page-link{
    background: grey;
    color:white;
    padding: 6px;
}
.page-link:hover{
    cursor: pointer;
}
.active-page{
    background-color: #333333;
    color:white;
}
.arrow{
    width: 20px;
    height: 20px;
}
.arrow-block{
    border: none;
    background: transparent;
}
.arrow-block:hover{
    cursor: pointer;
}
.not-active{
    color:gray;
}